@import url("/assets/css/cabecalho/cabecalho__menu-item.css");
@import url("/assets/css/cabecalho/cabecalho__menu-link.css");
@import url("/assets/css/cabecalho/cabecalho__menu-lista.css");
@import url("/assets/css/cabecalho/cabecalho__img.css");

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding-right: 2rem;
    padding-left: 2rem;
}

@media screen and (max-width: 1024px) {
    .cabecalho{
        justify-content: center;
        padding: 0 1rem;
    }
}






