@import url("/assets/css/sobre/sobre__titulo.css");
@import url("/assets/css/sobre/sobre__texto.css");

.sobre{
    text-align: center;
    padding: 2.5rem;
}

@media screen and (max-width: 1024px) {
    .sobre{
        padding: 2.5rem 1rem;
    }
}

